@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(152, 148, 146);
  --black: rgb(0, 0, 0);
  --green: rgb(50, 179, 93);
  --red: rgb(230, 13, 13);
  --brown: rgb(165, 42, 42);

  --table-bg: #efefef;
  --table-border: #dddddd;

  --font-normal: 400;
  --font-bold: 600;
}

body {
  background-color: var(--background-color);

  font-weight: var(--font-normal);
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */

  height: 100vh;
  padding: 25px;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

.hide {
  display: none;
}
